
html { -webkit-text-size-adjust:none; }


/*DUPLICATED FROM maxui-search-filters, Give a little "carinyu" here when migrating to less*/


#maxui-new-participants .maxui-filter {
padding:2px 4px 2px 0;
margin-top:2px;
float:left;
}
#maxui-new-participants:before,
#maxui-new-participants:after {
    content:"";
    display:table;
}

#maxui-new-participants:after {
    clear:both;
}

#maxui-new-participants {
    zoom:1;
    padding-left:0px;
    margin-top: 5px;
}

#maxui-new-participants .maxui-filter span{
padding:0 2px 3px 4px;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;
text-shadow: 0 -1px rgba(0,0,0,.5);
background-color:#007ca5;
color:#fff;
border:1px solid #006989;
display:block;
}
#maxui-new-participants .maxui-filter span.hashtag {background-color:#008564;border:1px solid #007355;}
#maxui-new-participants .maxui-filter span.person {background-color:#837800;border:1px solid #706923;}

#maxui-new-participants .maxui-filter .maxui-close{
padding: 0 0 0 4px;
opacity:.8; filter: alpha(opacity=80);
position: relative;
top: 3px;
}
#maxui-new-participants .maxui-filter .maxui-close img{width:14px; height:15px; margin:0;}
#maxui-new-participants .maxui-filter .maxui-close:hover {opacity:1; filter: alpha(opacity=100);}


#maxui-new-message {
    position:relative;
    border-top: 1px solid #ccc;
    margin-top:5px;
    padding-top: 5px
}

#maxui-new-message .maxui-label {

    position:absolute;
    top: 7px;
    left: 0px;
}

#maxui-new-message .maxui-simple-text-input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
    text-indent: 65px;
    border:none !important;
    background-color: transparent;
    padding-top: 0px;
    margin-top: 0px;
    min-height: 32px;
}

#maxui-new-displayName {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 3px;
}

#maxui-new-displayName .maxui-simple-text-input {
    width:50%;
    border:none !important;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
}
#maxui-new-displayName .maxui-simple-text-input:focus,
#maxui-new-message .maxui-simple-text-input:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none! important;
    box-shadow: none !important;
    outline: 0;
    border: none !important;
}

#maxui-common-header {
    overflow:hidden;
}

#maxui-scrollbar {
    position:absolute;
    top:0px;
    right:0px;
    width:10px;
    border-left:1px solid #ccc;
    z-index: 2;
    padding:1px 0px;
    background-color: white;
}


#maxui-scrollbar .maxui-dragger {
    background: #bbb;
    cursor: pointer;
    margin: 0px 1px;
    width:8px;
    height:20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#maxui-activity-sort {
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px #b2b2b2 solid;
    padding: 5px 10px;

}

#maxui-activity-sort .maxui-sort-action:hover {
    text-decoration:none;
}

#maxui-activity-sort .maxui-sort-action.active {
    color: #444;
    font-weight: bold;
}

#maxui-activity-sort .maxui-sort-action.active:hover {
    text-decoration:none;
    color: #000;
}


#maxui-activity-sort .maxui-sort-action.maxui-most-recent {
    padding-right: 5px;
}

#maxui-activity-sort .maxui-sort-action.maxui-most-recent {
    padding-right: 5px;
}

#maxui-activity-sort .maxui-sort-action.maxui-most-valued {
    padding-left: 5px;
}

#maxui-activity-sort .maxui-sort-action a {
    color: #929292;
    text-decoration: none;
}

#maxui-activity-sort .maxui-sort-action a:hover {
    color: #555;
}

#maxui-container #maxui-favorites-filter {
    color:#bbb;
    width:56px;
    float:right;
    text-align: center;
    margin-top: 1px;
}

#maxui-container #maxui-favorites-filter:hover {
    color:#666;
}


#maxui-container #maxui-favorites-filter.active {
    color:#ff9b00;
}

#maxui-favorites-filter .maxui-icon-star{
 font-size: 23px;
}


/* maxicons styles*/

#maxui-container .maxui-actions a.maxui-action {
    color: #666;
}

#maxui-container .maxui-actions a.maxui-action:hover {
    color: #333;
    text-decoration:none;
}



#maxui-container .maxui-actions a.maxui-action:before { font-size:12px; margin-right:.22em;}

#maxui-container .maxui-actions a.maxui-action.maxui-commentaction.maxui-empty:before { content: '\e804'; }
#maxui-container .maxui-actions a.maxui-action.maxui-commentaction:before             { content: '\e805'; }
#maxui-container .maxui-actions a.maxui-action.maxui-likes:before                     { content: '\e802'; }
#maxui-container .maxui-actions a.maxui-action.maxui-likes.maxui-liked:before         { content: '\e803'; color:#007bc0;}
#maxui-container .maxui-actions a.maxui-action.maxui-likes.maxui-liked:hover:before   { color:#026399;}
#maxui-container .maxui-actions a.maxui-action.maxui-favorites:before                 { content: '\e801'; }
#maxui-container .maxui-actions a.maxui-action.maxui-favorites:hover:before           { content: '\e801'; color:#ff9b00;}
#maxui-container .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:before { content: '\e800'; color:#007bc0;}
#maxui-container .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:hover:before { color:#ff9b00;}
#maxui-container .maxui-actions a.maxui-action.maxui-delete:before                    { content: '\e806'; }

#maxui-container .maxui-actions a.maxui-action.maxui-commentaction {color:#007bc0;}
#maxui-container .maxui-actions a.maxui-action.maxui-commentaction:hover {color:#026399;}

#maxui-container .maxui-actions a.maxui-action.maxui-commentaction.maxui-empty {color:#666;}
#maxui-container .maxui-actions a.maxui-action.maxui-commentaction.maxui-empty:hover {color:#333;}

#maxui-container .maxui-actions a.maxui-action.maxui-likes.maxui-liked { color:#007bc0; }
#maxui-container .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited { color:#007bc0; }

#maxui-container .maxui-actions a.maxui-action.maxui-likes.maxui-liked:hover { color:#026399; }
#maxui-container .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:hover { color:#026399; }


#maxui-show-timeline.maxui-togglebar:after { content: '\e80a'; color:#929292;}
#maxui-show-timeline.maxui-togglebar:hover:after { content: '\e80a'; color:#555;}

#maxui-show-conversations.maxui-togglebar:after { content: '\e809'; color:#929292;}
#maxui-show-conversations.maxui-togglebar:hover:after { content: '\e809'; color:#555;}

#maxui-back-conversations.maxui-togglebar a:before { content: '\e807'; color:#929292;}
#maxui-back-conversations.maxui-togglebar a:hover:before { content: '\e807'; color:#555;}

.maxui-enterconversation:before { font-size: 150%; content: '\e80b'; color:#929292; }
.maxui-enterconversation:hover:before { color:#555; }

.maxui-origin {
    color:#6e6e6e;
    font-size:11px;
}

.maxui-origin.maxui-icon-:before { content: '\e811'; font-size: 12px; margin-right: 0px;}



.maxui-delete-comment, .maxui-delete-comment:hover
{
float:right;
margin-top:-12px;
cursor:pointer;
}

.maxui-delete-comment:before { content: '\e806'; color: #666;}
.maxui-delete-comment:hover:before { content: '\e806'; color: #555;}

#maxui-search {
    box-sizing: border-box;
    border-top:1px #b2b2b2 solid;
    border-bottom:1px #b2b2b2 solid;
    background:#f1f1f1;
    padding:10px;
}

#maxui-search-box {padding:0px 56px; width:auto; text-align:left;}

#maxui-search-toggle {
    float:left;
}



#maxui-search.folded #maxui-search-toggle:before { content: '\e80e'; color: #666; font-size: 120%; margin-top:4px;margin-left:19px;}
#maxui-search #maxui-search-toggle:before { content: '\e80d'; color: #666; font-size: 120%; margin-top: 4px;margin-left:18px;}


.maxui-publisheddate, .maxui-likescount {
    font-size:11px;
    color:  #6e6e6e;
    text-align: right;
}

.maxui-icon-cancel-circled:before {
    color:white;
    font-size: 130%;
}

#maxui-search-filters .maxui-filter span{
padding:0px 0px 4px 4px;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;
text-shadow: 0 -1px rgba(0,0,0,.5);
background-color:#007ca5;
color:#fff;
border:1px solid #006989;
display:block;
}

.maxui-actions a.maxui-action{
font-size:11px;
color:#007bc0;
text-decoration:none;
padding-right: 5px;
cursor:pointer;
}


.maxui-actions {
    position:relative;
    line-height: 14px;
}

.maxui-activity-message {
    margin-bottom:5px;
}

#maxui-search-filters {
    zoom:1;
    margin-top: 7px;

}


#maxui-search-text {
-webkit-appearance: none; -moz-appearance:none; appearance:none;
width: 100%;
color:#666;
height:24px; min-height:24px;
border: 1px #b2b2b2 solid;
position:relative;
padding:1px 5px;
-moz-border-radius: 3em; -webkit-border-radius: 3em; border-radius: 3em;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
font-size: 13px;line-height: 20px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

.maxui-error-box {
    height: 15px;
    border: 1px red solid;
    background-color: rgb(253, 90, 75);
    color: #fff;
    border-radius: 3px;
    margin-top: -25px;
    z-index: 100;
    text-align: left;
    padding: 4px 5px;
    text-shadow: none;
}

#maxui-container textarea.error {
    border: 1px solid red !important;
    -webkit-box-shadow: inset 0 1px 3px rgba(255,0,0,.05),0 0 8px rgba(255,123,192,.5) !important;
    -moz-box-shadow: inset 0 1px 3px rgba(255,0,0,.05),0 0 8px rgba(255,123,192,.5) !important;
    box-shadow: inset 0 1px 3px rgba(255,0,0,.05),0 0 8px rgba(255,123,192,.5) !important;

 }
