@import "hacks.css";
@font-face {
  font-family: 'maxicons';
  src: url('../font/maxicons.eot?59062278');
  src: url('../font/maxicons.eot?59062278#iefix') format('embedded-opentype'), url('../font/maxicons.woff?59062278') format('woff'), url('../font/maxicons.ttf?59062278') format('truetype'), url('../font/maxicons.svg?59062278#maxicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'maxicons';
    src: url('../font/maxicons.svg?59062278#maxicons') format('svg');
  }
}
*/
[class^="maxui-icon-"]:before,
[class*=" maxui-icon-"]:before {
  font-family: "maxicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.maxui-icon-mail-alt:before {
  content: '\e812';
}
/* '' */
.maxui-icon-angle-circled-down:before {
  content: '\e80a';
}
/* '' */
.maxui-icon-star-empty:before {
  content: '\e801';
}
/* '' */
.maxui-icon-ok-circled:before {
  content: '\e80f';
}
/* '' */
.maxui-icon-cancel-circled:before {
  content: '\e810';
}
/* '' */
.maxui-icon-pin:before {
  content: '\e811';
}
/* '' */
.maxui-icon-thumbs-up:before {
  content: '\e802';
}
/* '' */
.maxui-icon-thumbs-up-alt:before {
  content: '\e803';
}
/* '' */
.maxui-icon-chat:before {
  content: '\e805';
}
/* '' */
.maxui-icon-star:before {
  content: '\e800';
}
/* '' */
.maxui-icon-trash:before {
  content: '\e806';
}
/* '' */
.maxui-icon-down-dir:before {
  content: '\e80d';
}
/* '' */
.maxui-icon-right-dir:before {
  content: '\e80e';
}
/* '' */
.maxui-icon-left-open:before {
  content: '\e80c';
}
/* '' */
.maxui-icon-right-open:before {
  content: '\e80b';
}
/* '' */
.maxui-icon-angle-circled-left:before {
  content: '\e807';
}
/* '' */
.maxui-icon-angle-circled-right:before {
  content: '\e808';
}
/* '' */
.maxui-icon-angle-circled-up:before {
  content: '\e809';
}
/* '' */
.maxui-icon-chat-empty:before {
  content: '\e804';
}
/* '' */
[class^="maxui-icon-"]:after,
[class*=" maxui-icon-"]:after {
  font-family: "maxicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/* Color for all borders in the interface */
/* BG color of the parent interface, will be seen if anything is transparent */
/* BG color of the add activity and add conversation section */
/* BG color for toggle bars */
/* BG color of search section */
/* BG Color of selected list elements*/
/* Text color */
/* Main*/
.mm-bordered,
#maxui-container {
  border: 1px solid #cccccc;
}
/* Typography */
.mm-textStyle,
#maxui-container {
  text-shadow: 0 1px #fff;
  font: 13px/18px Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #6f6f6f;
}
.mm-removeOutline {
  outline: none;
}
/* blocks */
.mm-Avatar,
.mm-Actor a .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-avatar,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar {
  position: absolute;
  float: left;
  left: -55px;
  top: 5px;
}
.mm-Avatar a,
.mm-Actor a .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-avatar a,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar a {
  display: block;
  height: 48px;
}
.mm-Avatar img,
.mm-Actor a .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-avatar img,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar img {
  float: left;
  width: 48px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px #ffffff;
  -webkit-box-shadow: 0 1px #ffffff;
  box-shadow: 0 1px #ffffff;
}
.mm-Avatar:before,
.mm-Avatar::before,
.mm-Actor a .maxui-avatar:before,
.mm-Actor a .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-avatar::before,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar:before,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 0 4px rgba(0, 0, 0, 0.25);
}
.mm-DisplayName,
.mm-Actor a .maxui-displayname,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-displayname,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a .maxui-displayname,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-displayname {
  font-weight: bold;
}
.mm-Username,
.mm-Actor .maxui-username,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor .maxui-username,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor .maxui-username {
  color: #6f6f6f;
  font-size: 93%;
}
.mm-Body,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-body,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-balloon .maxui-body,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-activity-message .maxui-body,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-body {
  margin: 0;
  font-size: 13px;
}
.mm-PublishedDate,
#maxui-container .maxui-publisheddate,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-topright .maxui-likescount {
  font-size: 11px;
  color: #a2a2a2;
  text-align: right;
}
.mm-Actor a,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-actor a,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a {
  position: relative;
}
.mm-Button,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box input.maxui-button,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox .maxui-button,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus {
  border: 1px solid #ffa500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 0 0 0;
  font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  padding: 3px 6px;
  color: #ffffff;
  background: #ffb733;
}
.mm-Button:hover,
.mm-Button:focus,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box input.maxui-button:hover,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box input.maxui-button:focus,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox .maxui-button:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox .maxui-button:focus,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover:focus,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus:focus {
  border: 1px solid #ffa500;
  background: #ffb733;
  cursor: pointer;
  color: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mm-Button.active,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box input.maxui-button.active,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox .maxui-button.active,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button.active,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover.active,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus.active {
  background: #e5e5e5;
}
.mm-Button[disabled],
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box input.maxui-button[disabled],
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox .maxui-button[disabled],
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button[disabled],
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover[disabled],
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus[disabled] {
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  color: #a2a2a2;
  background-color: #e8e8e8;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: default;
}
.mm-Textarea,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box textarea,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox textarea {
  width: 100%;
  color: #6f6f6f;
  height: 48px;
  min-height: 48px;
  border: 1px #b3b3b3 solid;
  position: relative;
  padding: 0 3px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
  font-size: 13px;
  line-height: 18px;
  overflow: auto;
  resize: vertical ;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.mm-Textarea:focus,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box textarea:focus,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox textarea:focus {
  color: #6f6f6f;
}
.mm-Activity,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity {
  border-top: 1px #ffffff solid;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  padding: 8px 0px;
  padding-left: 0px;
  min-height: 51px;
}
.mm-Popover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover {
  display: none;
  position: absolute;
  float: left;
  width: 180px;
  opacity: 0;
  margin: 20px;
  bottom: 0;
  left: 0;
  z-index: 1010;
  max-width: 276px;
  padding: 1px;
  margin-bottom: -31px;
  margin-left: 68px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.mm-Popover .maxui-button.delete,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-button.delete,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-button.delete {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  /* for firefox 3.6+ */
  border-color: #bd362f #bd362f #802420;
}
.mm-Popover .maxui-button.cancel,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-button.cancel,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-button.cancel {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  /* for firefox 3.6+ */
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  color: #333;
  text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
}
.mm-Popover .maxui-popover-title,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-popover-title,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-popover-title {
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.mm-Popover .maxui-popover-content,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-popover-content,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-popover-content {
  text-align: right;
  padding: 8px 10px 12px 0px;
}
.mm-Popover .maxui-arrow,
.mm-Popover .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-arrow {
  border-width: 11px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.mm-Popover .maxui-arrow:after,
.mm-Popover .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover .maxui-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
}
.mm-Popover.left .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover.left .maxui-arrow,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover.left .maxui-arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.mm-Popover.left .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions .maxui-popover.left .maxui-arrow:after,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover.left .maxui-arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
.mm-AddPeopleBox,
#maxui-container #maxui-mainpanel #maxui-add-people-box {
  border-bottom: 1px #ccc solid;
  padding: 6px 10px 5px 10px;
  background-color: #e8e8e8;
  position: relative;
}
.mm-AddPeopleBox .maxui-label,
#maxui-container #maxui-mainpanel #maxui-add-people-box .maxui-label {
  font-weight: bold;
  color: #565656;
  line-height: 14px;
}
.mm-AddPeopleBox input.maxui-button,
#maxui-container #maxui-mainpanel #maxui-add-people-box input.maxui-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.mm-AddPeopleBox input#add-user-input.maxui-text-input,
#maxui-container #maxui-mainpanel #maxui-add-people-box input#add-user-input.maxui-text-input {
  border: none;
  background-color: transparent;
  color: #6f6f6f;
  width: 250px;
  display: block;
}
.mm-AddPeopleBox input#add-user-input.maxui-text-input:focus,
#maxui-container #maxui-mainpanel #maxui-add-people-box input#add-user-input.maxui-text-input:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none! important;
  box-shadow: none !important;
  outline: 0;
}
.mm-Filters,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters {
  zoom: 1;
  margin-top: 7px;
}
.mm-Filters:before,
.mm-Filters:after,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters:before,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters:after {
  content: "";
  display: table;
}
.mm-Filters:after,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters:after {
  clear: both;
}
.mm-Filters .maxui-filter,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter {
  padding: 2px 4px 2px 0;
  margin-top: 2px;
  float: left;
}
.mm-Filters .maxui-filter span,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter span {
  padding: 0px 0px 4px 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  background-color: #007ca5;
  color: #fff;
  border: 1px solid #006989;
  display: block;
}
.mm-Filters .maxui-filter span.hashtag,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter span.hashtag {
  background-color: #008564;
  border: 1px solid #007355;
}
.mm-Filters .maxui-filter span.person,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter span.person {
  background-color: #837800;
  border: 1px solid #706923;
}
.mm-Filters .maxui-filter .maxui-close,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter .maxui-close {
  padding: 0 2px 0 4px;
  opacity: .8;
  filter: alpha(opacity=80);
  position: relative;
  top: 3px;
}
.mm-Filters .maxui-filter .maxui-close:hover,
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-filters .maxui-filter .maxui-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mm-toggleBar,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after {
  background-color: #f2f2f2;
  text-align: center;
  height: 21px;
}
.mm-toggleBar:after,
.mm-toggleBar:before,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations:after,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after:before {
  color: #6f6f6f;
  height: auto;
}
.mm-toggleBar:hover:after,
.mm-toggleBar:hover:before,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations:hover:after,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after:hover:before,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after:hover:before {
  color: #565656;
  height: auto;
}
.mm-toggleBar a,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations a,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar a,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after a,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after a,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar a,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after a,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after a {
  color: #6f6f6f !important;
  font-weight: bold;
}
.mm-toggleBar a:hover,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations a:hover,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar a:hover,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after a:hover,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after a:hover,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar a:hover,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after a:hover,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after a:hover {
  color: #565656 !important;
  text-decoration: none !important;
}
.mm-predictive,
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-predictive.maxui-predictive {
  width: 200px;
  background-color: #ffffff;
  margin-top: -32px;
  margin-left: 57px;
  position: absolute;
  z-index: 100;
  border: 1px #b3b3b3 solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.mm-predictive ul {
  list-style: none;
  margin: 0px;
  padding: 1px;
}
.mm-predictive ul .maxui-prediction {
  padding: 0px 4px 2px 0px;
  cursor: pointer;
}
.mm-predictive ul .maxui-prediction.selected {
  background-color: #f2f2f2;
}
/* Helpers */
.mm-wrapper,
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper {
  overflow: hidden;
  position: relative;
}
.mm-borderBox,
.mm-toggleBar,
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after,
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#maxui-container {
  /*Draw a line to define widget boudaries*/
  /* ====== TO IMPROVE or put in classes/extends============================*/
  /* ==================================*/
}
#maxui-container a:focus,
#maxui-container .maxui-button:focus,
#maxui-container maxui-text-input:focus,
#maxui-container .maxui-simple-text-input:focus {
  outline: none;
}
#maxui-container img {
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
#maxui-container a {
  text-decoration: none;
  color: #ffa500;
}
#maxui-container a:hover {
  text-decoration: none;
  color: #cc8400;
}
#maxui-container a img {
  border: 0;
}
#maxui-container .maxui-icon-cancel-circled:before {
  color: white;
  font-size: 130%;
}
#maxui-container .maxui-clear {
  clear: both;
  float: none;
}
#maxui-container .maxui-topright {
  float: right;
  padding-top: 1px;
}
#maxui-container .maxui-info {
  font-style: italic;
  color: #666666;
}
#maxui-container .maxui-filter .maxui-img {
  vertical-align: inherit;
}
#maxui-container .maxui-footer {
  margin-left: 56px;
}
#maxui-container .maxui-text-input {
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#maxui-container textarea:focus,
#maxui-container input[type="search"]:focus,
#maxui-container input[type='text']:focus {
  border: 1px solid #ffa500 !important;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 165, 0, 0.5) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 165, 0, 0.5) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 165, 0, 0.5) !important;
}
#maxui-container textarea.error,
#maxui-container textarea.error:focus {
  border: 1px solid #ff0000 !important;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, 0.5) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, 0.5) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, 0.5) !important;
}
#maxui-container #maxui-mainpanel {
  background-color: #ffffff;
}
#maxui-container #maxui-mainpanel #maxui-conversations {
  position: relative;
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 0px;
  background: #ffffff;
  border-bottom: 1px #cccccc solid;
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header {
  overflow: hidden;
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations {
  height: 45px;
  border-bottom: 1px #cccccc solid;
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations a:before {
  content: '\e807';
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations a:hover:before {
  content: '\e807';
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-common-header #maxui-back-conversations h3.maxui-title {
  margin: 3px 0px 7px;
  color: #565656;
  font-size: 18px;
  font-weight: bold;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list {
  position: absolute;
  outline: none;
  padding: 0 10px 0 10px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation {
  border-top: 1px #fff solid;
  border-bottom: 1px #cccccc solid;
  width: 100%;
  padding: 8px 0;
  padding-left: 0;
  min-height: 51px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content {
  margin: -5px 0 0 55px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content a {
  position: relative;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-topright .maxui-enterconversation {
  float: right;
  padding-top: 6px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-topright .maxui-enterconversation:before {
  font-size: 150%;
  content: '\e80b';
  color: #929292;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-topright .maxui-enterconversation:hover:before {
  color: #555;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-conversations-list .maxui-conversation .maxui-activity-content .maxui-actor a .maxui-message-count {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3A87AD;
  color: white;
  font-size: 10px;
  padding: 0px 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  min-width: 17px;
  text-align: center;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages {
  position: absolute;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message {
  position: relative;
  min-height: 36px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message:first-child {
  margin-top: 10px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me {
  text-align: right;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-avatar {
  right: 5px;
  left: auto;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-balloon {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  margin-right: 50px;
  margin-left: 10px;
  text-align: right;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-me .maxui-balloon:after {
  right: 44px;
  border-top: 3px solid #f2f2f2;
  border-left: 3px solid #f2f2f2;
  border-right: 3px solid transparent;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-avatar {
  left: 5px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-balloon {
  border: 1px solid #EDF3FF;
  background-color: #EDF3FF;
  margin-left: 50px;
  margin-right: 10px;
  text-align: left;
  -moz-border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message.maxui-user-notme .maxui-balloon:after {
  left: 44px;
  border-top: 3px solid #EDF3FF;
  border-left: 3px solid transparent;
  border-right: 3px solid #EDF3FF;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content {
  display: inline-block;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar {
  top: 0px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-avatar img {
  width: 30px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-balloon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 10px;
  min-height: 25px;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-balloon .maxui-published-date {
  font-size: 9px;
  font-style: italic;
  color: #888;
}
#maxui-container #maxui-mainpanel #maxui-conversations .maxui-wrapper #maxui-messages #maxui-message-list .maxui-message .maxui-activity-content .maxui-balloon:after {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  top: 0px;
  border-bottom: 3px solid transparent;
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-scrollbar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  border-left: 1px #cccccc solid;
  z-index: 2;
  padding: 1px 0px;
  background-color: white;
}
#maxui-container #maxui-mainpanel #maxui-conversations #maxui-scrollbar .maxui-dragger {
  background: #bbb;
  cursor: pointer;
  margin: 0px 1px;
  width: 8px;
  height: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar {
  border-bottom: 1px #cccccc solid;
}
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:after {
  content: '\e809';
}
#maxui-container #maxui-mainpanel #maxui-show-conversations.maxui-togglebar:hover:after {
  content: '\e809';
}
#maxui-container #maxui-mainpanel #maxui-conversations-predictive {
  margin-top: 50px;
  margin-left: 10px;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-participants {
  zoom: 1;
  padding-left: 0px;
  margin-top: 5px;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-participants:before,
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-participants:after {
  content: "";
  display: table;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-participants:after {
  clear: both;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-displayName {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 3px;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-displayName .maxui-simple-text-input {
  width: 50%;
  border: none !important;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}
#maxui-container #maxui-mainpanel #maxui-add-people-box #maxui-new-displayName .maxui-simple-text-input:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none! important;
  box-shadow: none !important;
  outline: 0;
  border: none !important;
}
#maxui-container #maxui-mainpanel #maxui-newactivity {
  background-color: #e8e8e8;
  padding: 10px;
  position: relative;
}
#maxui-container #maxui-mainpanel #maxui-newactivity:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
#maxui-container #maxui-mainpanel #maxui-newactivity .maxui-avatar {
  left: 0px;
  top: 0px;
  position: relative;
}
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box {
  margin-left: 56px;
  text-align: right;
}
#maxui-container #maxui-mainpanel #maxui-newactivity #maxui-newactivity-box .maxui-error-box {
  height: 15px;
  border: 1px red solid;
  background-color: #fd5a4b;
  color: #fff;
  border-radius: 3px;
  margin-top: -25px;
  z-index: 100;
  text-align: left;
  padding: 4px 5px;
  text-shadow: none;
}
#maxui-container #maxui-mainpanel #maxui-search {
  box-sizing: border-box;
  border-top: 1px #cccccc solid;
  border-bottom: 1px #cccccc solid;
  background-color: #e8e8e8;
  padding: 10px;
}
#maxui-container #maxui-mainpanel #maxui-search.folded #maxui-search-filters {
  display: none;
}
#maxui-container #maxui-mainpanel #maxui-search.folded #maxui-search-toggle:before {
  content: '\e80e';
  color: #565656;
  font-size: 120%;
  margin-top: 4px;
  margin-left: 19px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-toggle {
  float: left;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-toggle:before {
  content: '\e80d';
  color: #565656;
  font-size: 120%;
  margin-top: 4px;
  margin-left: 18px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-favorites-filter {
  color: #6f6f6f;
  width: 56px;
  float: right;
  text-align: center;
  margin-top: 1px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-favorites-filter:hover {
  color: #565656;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-favorites-filter.active {
  color: #ff9b00;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-favorites-filter .maxui-icon-star {
  font-size: 23px;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-box {
  padding: 0px 56px;
  width: auto;
  text-align: left;
}
#maxui-container #maxui-mainpanel #maxui-search #maxui-search-box #maxui-search-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  color: #6f6f6f;
  height: 24px;
  min-height: 24px;
  border: 1px #b2b2b2 solid;
  position: relative;
  padding: 1px 5px;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
  border-radius: 3em;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 0 #ffffff;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar {
  border-top: 1px #cccccc solid;
}
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:after {
  content: '\e80a';
}
#maxui-container #maxui-mainpanel #maxui-show-timeline.maxui-togglebar:hover:after {
  content: '\e80a';
}
#maxui-container #maxui-mainpanel #maxui-activity-sort {
  box-sizing: border-box;
  border-bottom: 1px #cccccc solid;
  padding: 5px 10px;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action:hover {
  text-decoration: none;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action.active {
  color: #6f6f6f;
  font-weight: bold;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action.active:hover {
  text-decoration: none;
  color: #565656;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action .maxui-most-recent {
  padding-right: 5px;
}
#maxui-container #maxui-mainpanel #maxui-activity-sort .maxui-sort-action .maxui-most-valued {
  padding-left: 5px;
}
#maxui-container #maxui-mainpanel #maxui-timeline {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
  background: #ffffff;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-preload {
  height: 0px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content {
  margin: -5px 0 0 55px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-activity-content .maxui-activity-message {
  position: relative;
  margin-bottom: 5px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-origin {
  display: inline;
  padding-right: 10px;
  color: #6f6f6f;
  font-size: 11px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-origin.maxui-icon-:before {
  content: '\e811';
  font-size: 12px;
  margin-right: 0px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions {
  position: relative;
  line-height: 14px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action {
  display: inline;
  font-size: 11px;
  text-decoration: none;
  padding-right: 5px;
  cursor: pointer;
  color: #6f6f6f;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action:before {
  font-size: 12px;
  margin-right: .22em;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action:hover {
  color: #565656;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-commentaction.maxui-has-comments:before {
  content: '\e805';
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-commentaction:before {
  content: '\e804';
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-commentaction.maxui-has-comments {
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-commentaction.maxui-has-comments:hover {
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-likes:before {
  content: '\e802';
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-likes.maxui-liked {
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-likes.maxui-liked:before {
  content: '\e803';
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-likes.maxui-liked:hover:before {
  color: #cc8400;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-likes.maxui-liked:hover {
  color: #cc8400;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites:before {
  content: '\e801';
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites:hover:before {
  content: '\e801';
  color: #ff9b00;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited {
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:hover {
  color: #cc8400;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:before {
  content: '\e800';
  color: #ffa500;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-favorites.maxui-favorited:hover:before {
  color: favoriteColor;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-footer .maxui-actions a.maxui-action.maxui-delete:before {
  content: '\e806';
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments {
  margin-left: 56px;
  width: auto;
  margin-top: 5px;
  background: #f2f2f2;
  padding: 5px;
  position: relative;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  margin-top: -12px;
  border-left: 8px solid #fff;
  border-right: 8px solid #fff;
  border-bottom: 8px solid #f2f2f2;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment {
  padding: 1px 0 0;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content {
  margin-left: 41px;
  margin-right: 0;
  margin-top: -5px;
  margin-bottom: 18px;
  position: relative;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar {
  margin-top: 5px;
  left: -41px;
  top: 0;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar img {
  width: 36px;
  height: 36px;
  float: left;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-actor a .maxui-avatar a {
  height: 36px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-body {
  font-size: 12px !important;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-delete-comment,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-delete-comment:hover {
  float: right;
  margin-top: -12px;
  cursor: pointer;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-delete-comment:before {
  content: '\e806';
  color: #666;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-delete-comment:hover:before {
  content: '\e806';
  color: #555;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-commentsbox .maxui-comment .maxui-activity-content .maxui-popover {
  margin-left: 64px;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-activities .maxui-activity .maxui-comments .maxui-newcommentbox {
  text-align: right;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button {
  border: 1px solid #cccccc;
  width: 100% !important;
  margin: 10px 0px !important;
  color: #6f6f6f;
  background: #f2f2f2;
}
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:hover,
#maxui-container #maxui-mainpanel #maxui-timeline .maxui-wrapper #maxui-more-activities .maxui-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
