@import "../font/maxicons.less";
@import "maxicons-custom.less";
@import "variables.less";
@import "mixins.less";
@import "hacks.css";

#maxui-container{

    /*Draw a line to define widget boudaries*/
    &:extend(.mm-bordered);
    &:extend(.mm-textStyle);

    a:focus,
    .maxui-button:focus,
    maxui-text-input:focus,
    .maxui-simple-text-input:focus {
        .mm-removeOutline;
    }


    img { -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality;}

    a {
        text-decoration: none;
        color:@linkColor;
        &:hover {
            text-decoration: none;
            color: @hoverLinkColor;
        }
        &:focus:extend(.mm-removeOutline) { }

        img {
            border:0;
        }
    }


    /* ====== TO IMPROVE or put in classes/extends============================*/

    .maxui-publisheddate:extend(.mm-PublishedDate all) {}

    .maxui-icon-cancel-circled:before {
    color:white;
    font-size: 130%;
}
    .maxui-clear {
        clear:both;
        float:none;
    }

    .maxui-topright{
        float:right;
        padding-top:1px;
    }

    #maxui-info {
       font-style:italic;
       color:@textColorLT;
    }

    .maxui-filter .maxui-img {
        vertical-align: inherit;
    }

    .maxui-footer {
    margin-left: 56px;
    }

   .maxui-text-input {
     outline: none;
     -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
    }

    textarea:focus, 
    input[type="search"]:focus,
    input[type='text']:focus {
        .mm-borderGlow(@linkColor)
     }

    textarea.error,
    textarea.error:focus {
        .mm-borderGlow(red)
     }

    /* ==================================*/
    #maxui-mainpanel {
        background-color: @mainBackgroundColor;
        #maxui-conversations {
            position:relative;
            clear:both;
            margin:0;
            overflow: hidden;
            padding:0 0 0 0px;
            background:@mainBackgroundColor;
            border-bottom:1px @borderColor solid;

            #maxui-common-header {
                overflow: hidden;
                #maxui-back-conversations:extend(.mm-toggleBar all) {
                    height:45px;
                    border-bottom:1px @borderColor solid;

                    a:before { content: '\e807';}
                    a:hover:before { content: '\e807';}

                    h3.maxui-title{
                        margin: 3px 0px 7px;
                        color:@textColorDK;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
            .maxui-wrapper:extend(.mm-wrapper) {
                #maxui-conversations-list {
                    position:absolute;
                    outline:none;
                    padding: 0 10px 0 10px;

                    .maxui-conversation {
                        .maxui-activity-content {
                            margin: -5px 0 0 55px;
                            a {
                                position: relative;
                            }
                            .maxui-topright {
                                .maxui-published-date { }
                                .maxui-enterconversation {
                                    float:right;
                                    padding-top:6px;
                                    &:before {
                                        font-size: 150%; content: '\e80b'; color:@textColor;
                                    }
                                    &:hover:before {
                                        color:@textColorDK;
                                    }
                                }
                            }
                            .maxui-actor {
                                a {
                                    .maxui-avatar:extend(.mm-Avatar all) {}
                                    .maxui-displayname:extend(.mm-DisplayName) {}
                                }
                                .maxui-message-count {
                                    .mm-borderRadius(3px);
                                    background-color: @linkColor;
                                    color:white;
                                    font-size: 10px;
                                    padding:0px 1px;
                                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                    display:inline-block;
                                    min-width: 17px;
                                    text-align: center;

                                }

                            }
                            .maxui-body:extend(.mm-Body) {}
                        }
                        .maxui-clear {

                        }
                        border-top: 1px #fff solid;
                        border-bottom: 1px @borderColor solid;
                        width:100%;
                        padding:8px 0;
                        padding-left:0;
                        min-height:51px;
                    }
                }
                #maxui-messages {
                    position:absolute;

                    #maxui-message-list {
                        .maxui-message {
                            position:relative;
                            min-height:36px;
                            margin-bottom:10px;
                            margin-top:5px;

                            &:first-child {
                                margin-top: 10px;
                            }

                            &.maxui-user-me {
                                text-align: right;

                                .maxui-avatar:extend(.mm-Avatar all) {
                                    right:5px;
                                    left:auto;
                                }                                
                                .maxui-balloon {
                                    border:1px solid @messageMeBorderColor;
                                    background-color: @messageMeBackgroundColor;
                                    color: @messageMeTextColor;
                                    margin-right:50px;
                                    margin-left:10px;
                                    text-align: right;
                                    -moz-border-top-right-radius: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px;

                                    &:after {
                                        right: 44px;
                                        border-top: 3px solid @messageMeBorderColor;
                                        border-left: 3px solid @messageMeBorderColor;
                                        border-right: 3px solid transparent;
                                    }

                                }
                            }

                            &.maxui-user-notme {
                                .maxui-avatar:extend(.mm-Avatar all) {
                                    left:5px;
                                }

                                .maxui-balloon {
                                    border:1px solid @messageOthersBorderColor;
                                    background-color: @messageOthersBackgroundColor;
                                    color: @messageOthersTextColor;
                                    margin-left:50px;
                                    margin-right:10px;
                                    text-align: left;
                                    -moz-border-top-left-radius: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px;

                                    &:after {
                                        left: 44px;
                                        border-top: 3px solid @messageOthersBorderColor;
                                        border-left: 3px solid transparent;
                                        border-right: 3px solid @messageOthersBorderColor;

                                    }
                                }
                            }

                            .maxui-activity-content {
                                display: inline-block;

                                .maxui-avatar:extend(.mm-Avatar all) {
                                    top: 0px;
                                    img { width:30px; }
                                }
                                .maxui-balloon {
                                    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
                                    padding: 2px 10px;
                                    min-height: 25px;

                                    .maxui-published-date {
                                        font-size: 9px;
                                        font-style: italic;
                                        color: @textColorLT;
                                    }
                                    .maxui-body:extend(.mm-Body) {}

                                    &:after {
                                        content: "";
                                        width: 0px;
                                        height: 0px;
                                        display: block;
                                        position: absolute;
                                        top: 0px;
                                        border-bottom: 3px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #maxui-scrollbar {
                position:absolute;
                top:0px;
                right:0px;
                width:10px;
                border-left:1px @borderColor solid;
                z-index: 2;
                padding:1px 0px;
                background-color: white;
                .maxui-dragger {
                    background: #bbb;
                    cursor: pointer;
                    margin: 0px 1px;
                    width:8px;
                    height:20px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                }
            }

        }
        #maxui-show-conversations.maxui-togglebar:extend(.mm-toggleBar all){ 
            border-bottom: 1px @borderColor solid;
            &:after { content: '\e809';}
            &:hover:after { content: '\e809';}            
         }

        #maxui-conversation-predictive:extend(.mm-predictive all) {
            margin-top: 50px;
            margin-left: 10px;
        }
        #maxui-add-people-box:extend(.mm-AddPeopleBox all) { }
        #maxui-newactivity {
            background-color: @secondaryBackgroundColor;
            padding:10px;
            position:relative;
            &:after {
                content: "";
                display: block;
                height: 0;
                clear: both;
            }
            .maxui-avatar:extend(.mm-Avatar all) {
                left: 0px;
                top: 0px;
                position: relative;

            }
            #maxui-newactivity-box {
                margin-left:56px;
                text-align:right;

                textarea:extend(.mm-Textarea all) { }

                .maxui-error-box {
                    height: 15px;
                    border: 1px red solid;
                    background-color: rgb(253, 90, 75);
                    color: #fff;
                    border-radius: 3px;
                    margin-top: -25px;
                    z-index: 100;
                    text-align: left;
                    padding: 4px 5px;
                    text-shadow: none;
                }

                input.maxui-button:extend(.mm-Button all) {}

            }
            #maxui-predictive.maxui-predictive:extend(.mm-predictive) { }
        }
        #maxui-search {
            box-sizing: border-box;
            border-top:1px @borderColor solid;
            border-bottom:1px @borderColor solid;
            background-color:@secondaryBackgroundColor;
            padding:10px;

            &.folded {
                #maxui-search-filters {
                    display: none;
                }
                #maxui-search-toggle:before { 
                    content: '\e80e'; 
                    color: @textColorDK; 
                    font-size: 120%; 
                    margin-top:4px;
                    margin-left:19px;
                }
            }

            #maxui-search-toggle {
                float:left;
                &:before{
                    content: '\e80d'; 
                    color: @textColorDK; 
                    font-size: 120%; 
                    margin-top: 4px;
                    margin-left:18px;
                }
            }
            #maxui-favorites-filter {
                color:@actionLinkColor;
                width:56px;
                float:right;
                text-align: center;
                margin-top: 1px;

                &:hover {
                    color:@actionHoverLinkColor;
                }
                &.active {
                    color:@favoriteColor;
                }

                .maxui-icon-star {
                    font-size: 23px;
                }
            }
            #maxui-search-box {
                padding:0px 56px; width:auto; text-align:left;
                #maxui-search-text {
                    -webkit-appearance: none; -moz-appearance:none; appearance:none;
                    width:100%;
                    color:@textColor;
                    height:24px; min-height:24px;
                    border: 1px #b2b2b2 solid;
                    position:relative;
                    padding:1px 5px;
                    .mm-borderRadius(3em);
                    font-family: Arial, Helvetica, sans-serif;
                    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
                    font-size: 13px;
                    line-height: 20px;
                    box-sizing:border-box;
                    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                }
            }
            #maxui-search-filters:extend(.mm-Filters all) {}
        }
        #maxui-show-timeline.maxui-togglebar:extend(.mm-toggleBar all){
                border-top: 1px @borderColor solid;
                &:after { content: '\e80a';}
                &:hover:after { content: '\e80a';}
        }

        #maxui-activity-sort {
            box-sizing: border-box;
            border-bottom: 1px @borderColor solid;
            padding: 5px 10px;
            .maxui-sort-action {

                &:hover {
                    text-decoration:none;
                }

                &.active {
                    color: @actionLinkColor;
                    font-weight: bold;
                    &:hover {
                        text-decoration:none;
                        color: @actionHoverLinkColor;
                    }
                }

                .maxui-most-recent {padding-right: 5px;}
                .maxui-most-valued {padding-left: 5px;}
            }
        }
        #maxui-timeline {
            clear:both;
            margin:0;
            overflow: hidden;
            padding:0 10px;
            background:@mainBackgroundColor;
            .maxui-wrapper:extend(.mm-wrapper) {
                #maxui-preload {
                    height: 0px;
                }
                #maxui-activities {
                    .maxui-activity:extend(.mm-Activity all) {
                        .maxui-activity-content {
                            margin:-5px 0 0 55px;

                            .maxui-topright {
                                .maxui-publisheddate:extend { }
                                .maxui-likescount:extend(.mm-PublishedDate) {}
                            }
                            .maxui-actor:extend(.mm-Actor all) {}
                            .maxui-activity-message {
                                position:relative;
                                margin-bottom:5px;
                                .maxui-body:extend(.mm-Body) {}
                            }
                        }

                        .maxui-footer {
                            .maxui-origin {
                                display:inline;
                                padding-right:10px;
                                color:@textColor;
                                font-size:11px;
                                &.maxui-icon-:before { content: '\e811'; font-size: 12px; margin-right: 0px;}
                            }
                            .maxui-actions {
                                position:relative;
                                line-height: 14px;
                                a.maxui-action {
                                    display:inline;
                                    font-size:11px;
                                    text-decoration:none;
                                    padding-right: 5px;
                                    cursor:pointer;
                                    color: @actionLinkColor;

                                    &:before { font-size:12px; margin-right:.22em;}
                                    &:hover {
                                        color:@actionHoverLinkColor;
                                    }

                                    &.maxui-commentaction.maxui-has-comments:before { content: '\e805'; }
                                    &.maxui-commentaction:before                    { content: '\e804'; }
                                    &.maxui-commentaction.maxui-has-comments        { color: @linkColor;}
                                    &.maxui-commentaction.maxui-has-comments:hover  { color: @linkColor;}

                                    &.maxui-likes:before                            { content: '\e802'; }
                                    &.maxui-likes.maxui-liked                       { color: @linkColor; }
                                    &.maxui-likes.maxui-liked:before                { content: '\e803'; color: @linkColor;}
                                    &.maxui-likes.maxui-liked:hover:before          { color:@hoverLinkColor;}
                                    &.maxui-likes.maxui-liked:hover                 { color:@hoverLinkColor;}

                                    &.maxui-favorites:before                        { content: '\e801'; }
                                    &.maxui-favorites:hover:before                  { content: '\e801'; color: @favoriteColor;}
                                    &.maxui-favorites.maxui-favorited               { color: @linkColor; }
                                    &.maxui-favorites.maxui-favorited:hover         { color: @hoverLinkColor; }
                                    &.maxui-favorites.maxui-favorited:before        { content: '\e800'; color: @linkColor}
                                    &.maxui-favorites.maxui-favorited:hover:before  { color : favoriteColor}
                                    

                                    &.maxui-delete:before                           { content: '\e806'; }
                                }

                                .maxui-popover:extend(.mm-Popover all) {}
                            }
                        }
                        .maxui-comments {
                            margin-left:56px;
                            width:auto;
                            margin-top:5px;
                            background-color:@commentsBackgroundColor;
                            padding:5px;
                            position:relative;
                            .mm-borderRadius(6px);
                            &:before {
                                content: "";
                                display: block;
                                width: 0; height: 0;
                                position:absolute; margin-top:-12px;
                                border-left: 8px solid #fff;
                                border-right: 8px solid #fff;
                                border-bottom: 8px solid #f2f2f2;
                            }

                            .maxui-commentsbox {
                                .maxui-comment {
                                    padding: 1px 0 0;

                                    .maxui-activity-content {
                                        margin-left:41px;
                                        margin-right:0;
                                        margin-top:-5px;
                                        margin-bottom:18px;
                                        position:relative;

                                        .maxui-publisheddate:extend {}
                                        .maxui-actor:extend(.mm-Actor all) {
                                            a {
                                                .maxui-avatar {
                                                    margin-top:5px;
                                                    left: -41px;
                                                    top:0;

                                                    img {
                                                        width:36px;
                                                        height:36px;
                                                        float:left;
                                                    }

                                                    a {height:36px;}
                                                }
                                            }
                                        }
                                        .maxui-body:extend(.mm-Body) {
                                            font-size: 12px;
                                        }

                                        .maxui-delete-comment, .maxui-delete-comment:hover {
                                            float:right;
                                            margin-top:-12px;
                                            cursor:pointer;
                                        }

                                        .maxui-delete-comment:before { content: '\e806'; color: @actionLinkColor;}
                                        .maxui-delete-comment:hover:before { content: '\e806'; color: @actionHoverLinkColor;}

                                        .maxui-popover:extend(.mm-Popover all) {
                                            margin-left:64px;
                                        }
                                    }
                                }
                            }
                            .maxui-newcommentbox {
                                text-align: right;
                                textarea:extend(.mm-Textarea all) {}
                                .maxui-button:extend(.mm-Button all) {}
                            }
                        }
                    }
                }
                #maxui-more-activities {
                    .maxui-button:extend(.mm-Button all) {
                        border:1px solid @borderColor;
                        width: 100%;
                        margin: 10px 0px;
                        color: @actionLinkColor;
                        background: #f2f2f2;
                        &:hover,
                        &:focus {
                            box-shadow:none; -webkit-box-shadow:none;
                        }   
                    }
                }
            }
        }
    }
}

