<div class="maxui-message {{origin}}" id="{{id}}">
    <div class="maxui-activity-content">
        <span class="maxui-avatar maxui-little"><img src="{{avatarURL}}"></span>
        <div class="maxui-balloon">
            <p class="maxui-body">{{&text}}</p>
            <span class="maxui-publisheddate">{{date}}</span>
            <i class="maxui-icon-check{{#ack}} maxui-ack{{/ack}}"></i>
        </div>
    </div>
    <div class="maxui-clear"></div>
</div>
