      <a href="#" class="maxui-avatar maxui-big">
          <img src="{{avatar}}">
      </a>
      <div id="maxui-newactivity-box">
           <textarea class="maxui-empty maxui-text-input" data-literal="{{textLiteral}}">{{textLiteral}}</textarea>
           <div class="maxui-error-box"></div>
           <input disabled="disabled" type="button" class="maxui-button maxui-disabled" value="{{buttonLiteral}}">
      </div>
